*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.container{
    background-color: gold;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px black;
    border: 10px solid #ff3c00;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.t-icon{
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

#celcius, #fahrenheit, #kelvin{
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

input{
    flex: 4;
    height: 60px;
    font-size: 30px;
    text-align: center;
    appearance: none;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid black;
}

 /* Specilly used for Firefox */
 input[type=number] {
    appearance: textfield;
  }
   /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .icon{
    font-size: 40px;
    height: 60px;
    width: 40px;
    padding: 0px 4px;
    background-color: gray;
    text-align: center;
    border-radius: 0 10px 10px 0px;
    display: flex;
    justify-content: center;
    flex: 1;
    border: 2px solid black;
  }

  .button{
    font-size: 25px;
    text-align: center;
  }

  .button button{
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
  }

  .button button:hover{
    background-color: gray;
  }
  

  @media (max-width:500px) {
    .container{
      height: 360px;
      width: 360px;
    }
    
    h1{
      font-size: 30px;
    }
    input{
      flex: 2;
      height: 30px;
      width: 70%;
    }

    .icon{
      height: 30px;
      font-size: 20px;
    }

    .button button{
      font-size: 15px;
    }
    .t-icon{
      font-size: 30px;
    }
  }